body{
    margin:0;
    padding:0;
}
.fitm ul li{
    list-style-type:none;
    color: blue;

}
.fitm ul li:hover{
    color: brown;
    cursor: pointer;
}
table {
    width: 100%;
    max-width: 800px;
    border-collapse: separate;
    border-spacing: 0;
    overflow: hidden;
    border-radius: 12px;
    font-family: Arial, sans-serif;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    margin-left:2%;
  }

  th, td {
    padding: 14px 16px;
    text-align: left;
  }

  th {
    background-color: #1cdf2c;
    color: white;
  }

  /* Zebra striping */
  tbody tr:nth-child(even) {
    background-color: #f3f4f6;
  }

  tbody tr:nth-child(odd) {
    background-color: #ffffff;
  }

  /* Hover effect */
  tbody tr {
    transition: background-color 0.2s ease;
  }

  tbody tr:hover {
    background-color: #dbeafe;
    cursor: pointer;
  }

  .winner {
    font-weight: bold;
    color: #166534;
  }
  input{
      width: 30%;
      padding: 12px 14px;
      border: 2px solid #3b3b4f;
      border-radius: 8px;
      font-size: 16px;
      transition: 0.2s ease;
      border-radius: 14px;
      box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
      color:#dbeafe;
    }
    select{
        width: 15%;
        padding: 10px 14px;
        border-radius: 8px;
        font-size:16px;
        border-radius: 14px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
      
    }
    button{
        background-color: #1cdf2c;
        border:0;
        padding:12px 14px;
        font-size: 15px;
        border-radius:10px;
        border-radius: 14px;
        box-shadow: 0 10px 30px rgba(0, 0, 0, 0.35);
        margin-left:1%;
    }

    h1 {
        margin-top: 0;
        color: #a855f7;
      }
      button {
        transition: background-color 0.3s ease, transform 0.3s ease;
      }
      
      button:hover {
        background-color: #f13131;
        transform: scale(1.05);
      }
  